.App {
  text-align: center;
}
li {
  list-style: none;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 8px;
  border-bottom: solid 1px #e1e1e1;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 20px;
}
.menu-item {
  width: 33%;
  cursor: pointer;
}
.active {
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  background-color: #0887f4;
  width: 100px;
  height: 2px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.input-form {
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #e1e1e1;
  border-radius: 5px;
  width: 360px;
  margin-bottom: 40px;
  
}
.input-add {
  padding: 10px 20px;
  background-color: #0084f5;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.list {
  width: 30%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
}
.list-item {
  display: flex;
  justify-content: space-between;
}
.item-check {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.check {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.delete-all {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px #e1e1e1;
  border-radius: 5px;
  font-size: 14px;
  background-color: #FF2F41;
  color: #e1e1e1;
  cursor: pointer;
}
.detete-ok {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.delete-item{
  cursor: pointer;
}
